@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.heroImg{
    width: 1225px;
    filter: drop-shadow(0px 15.4088px 34.2418px rgba(122, 122, 122, 0.23));
}

.para{
    margin-top: -2.5em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    /* line-height: 36px; */
    text-align: justify;
    color: #FFFEFD;
}
/* .para span{
    color: #FE0000;
} */

.Fhead{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
color: #878B93;
}

footer span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
color: #878B93;
}

footer li a{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #151515;
}

footer li{
    margin-top: 18px;
}

footer i{
    font-size: 24px;
}

.location{
    font-size: 16px;
}

.pop-alert p{
    font-family: 'Poppins';
    font-style: normal;
    /* font-weight: 900; */
    /* font-size: 12px; */
}